@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    /* height: 100vh; */
    flex: 1;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    color: rgb(25, 36, 156);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    color: rgb(19, 19, 107);
    text-align: center;
}

p,
li,
a,
button,
label,
table {
    font-family: 'Montserrat';
    color: #000000;
    margin-bottom: 0;
}

input {
    height: 2.5rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: .7rem;
    padding-left: 1rem;
}


/*Header*/

header {
    background-color: #e1e1e1;
    display: flex;
    position: sticky;
    align-items: center;
    padding: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.103);
}


/*Footer */
footer {
    background-color: #e1e1e1;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    bottom: 0;
    /* position: sticky;
     */
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 1rem auto;
    gap: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.164);
    border-radius: 1rem;
    padding: 1rem;
}


/*Main*/


.gestion-pacientes,
.historial-pacientes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.boton-container {
    display: flex;
    gap: .5rem;
}

.boton {
    background-color: #a7badf9d;
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: .5rem;

    transition-duration: 0.2s;

    cursor: pointer;
}

.boton:hover {
    box-shadow: 0 5px 5px 0 rgba(165, 165, 165, 0.6);
    background-color: #a7badfee;
}

.boton-historial-volver {
    text-decoration: underline;
}

.boton-historial-volver:hover {
    transform: translateY(-2px);
    color: rgb(8, 8, 143);
}

.btn-atender-paciente:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
}



/* Seccion Lista de espera */

.lista-espera {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.mensaje-cola-vacia {
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
    color: rgb(128, 128, 128);
}

.card-paciente {
    background: linear-gradient(135deg, #e0e7ff 0%, #f3e8ff 100%);
    border-left: .4rem solid rgba(6, 20, 221, 0.726);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    border-bottom: 1px solid #00000033;

}

.card-paciente:hover {
    transform: scale(1.01);
}

.paciente-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nombre-paciente {
    font-size: 1.3em;
    font-weight: bold;
    color: #1d2129;
    font-family: 'Montserrat';
}

.paciente-hora {
    color: #4a5568;
    font-size: 1rem;
}

.reloj {
    width: .9rem;
}

/* ver que onda esta de abajo */
.hora-ingreso {
    display: flex;
    gap: .2rem;
}

.paciente-info {
    margin: 10px 0;
    color: #4a5568;
}

.paciente-info p {
    margin: .6rem 0;
    font-size: 1rem;
}

.tipo-guardia {
    display: inline-block;
    background: #365af8e3;
    color: rgb(255, 255, 255);
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: .85rem;
    font-weight: 600;
    margin-top: .5rem;
}

.acciones-paciente-existente {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.btn-editar {
    background-color: #380fccd5;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: #243ab3;
    }
}

.btn-eliminar {
    background-color: #f84949;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: #f10e0e;
    }
}


/* Formularios */
.swal-formulario {
    text-align: left;
}

.txt-header-form {
    font-size: 1rem;
    font-style: italic;
    color: rgb(128, 128, 128);
    margin-bottom: 1rem;
}

.label-formulario {
    font-weight: 450;
    color: #000000c9;
}

.input-formulario {
    margin: .5rem 0;
    width: 100%;
    /* height: 2.5rem;
    border: 1px solid grey;
    border-radius: .7rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    style="width: 90%; margin-bottom: 15px;" */
}


.txt-atender-form {
    font-size: 1.2rem;
}

/* me da pena borrar :( */
/* Modales 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #eeeeee;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #888;
    width: 45vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(95, 106, 255);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border-radius: 10px 10px 0 0;
    text-align: left;
    padding: 1rem;
    align-content: flex-start;
    background-color: #eeeeee;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.modal-header h2 {
    font-family: 'Montserrat';
    font-size: 1.4rem;
    color: #000b4b;
    text-align: start;
    padding-bottom: .5rem;
}

.modal-body {
    font-size: 1.2rem;
    padding: 1rem 1rem .3rem 1rem;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);

}

.elemento-formulario {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;
    gap: .25rem;
}


.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 0 0 10px 10px;
}
*/

/* Animacion */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Errores */
.valor-ingresado-erroneo {
    border-color: #d93025;
    box-shadow: 0 0 0 2px rgba(217, 48, 37, 0.2);
}

.mensaje-error {
    color: #fd1302;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    display: none;
    font-family: 'Montserrat';
    padding-left: .5rem;
}


/* Seccion Historial */
#tabla-historial-body {
    border: 1px solid rgba(0, 0, 0, 0.377);
}

.header-tabla-historial {
    border: 1px solid rgb(0, 0, 0);
}

.btn-eliminar-historial:hover {
    background-color: #fd1302;
    color: white;
}





/* Tabla de Historial */
.pacientes-tabla {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.header-tabla-historial {
    background-color: hsla(0, 0%, 0%, 0.781);
    color: rgb(236, 236, 236);
    font-weight: 400;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}