@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main { 
    height: 100vh;
}

a {
    text-decoration: none;
}

h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(36, 46, 161);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 19, 107);
    text-align: center;
}

p,
li,
a,
button,
label,
table { 
    font-family: 'Montserrat';
    color: #000000;
    margin-bottom: 0;
}

input { 
    height: 2.5rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: .7rem;
    padding-left: 1rem;
}


/*Header*/

header {
    background-color: #e1e1e1;
    display: flex;
    position: sticky;
    align-items: center;

    justify-content: center;
    flex-wrap: wrap;

    padding: 1.5rem;
}


/*Footer */
footer {
    background-color: #e1e1e1;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
    gap: 1.5rem;
}


/*Main*/
.gestion-pacientes,
.historial-pacientes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.boton-container {
    display: flex;
    gap: .5rem;
}

.boton { 
    background-color: #a7badf9d;
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: .5rem;

    transition-duration: 0.2s;

    cursor: pointer;
}

.boton:hover {
    box-shadow: 0 5px 5px 0 rgba(165, 165, 165, 0.6);
    background-color: #a7badfee;
}

.boton-historial-volver {
    text-decoration: underline;
}

.boton-historial-volver:hover { 
    color: rgb(8, 8, 143);
}

.btn-atender-paciente:disabled { 
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
}



/* Seccion Lista de espera */

.lista-espera { 
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.mensaje-cola-vacia { 
    text-align: center;
    font-style: italic;
    color: rgb(128, 128, 128);
}

.card-paciente { 
    background-color: rgb(241, 241, 241);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
    border-bottom: 1px solid #00000033;

}

.card-paciente:nth-child(1) {
    background-color: #4653975b;
    border-left: .2rem solid rgb(6, 20, 221);
    border-radius: 10px 10px 0 0;
}

.card-paciente:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
    border-bottom: none;
}



.hora-ingreso{
    display: flex;
    gap: .2rem;
}
.reloj {
    width: .9rem;
}

.informacion-paciente {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: .3rem;
}
.nombre-paciente{
    font-family: 'Montserrat';
    font-size: 1rem;
}
.dni-paciente{
    font-size: .9rem;
}



/* Modales */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #eeeeee;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #888;
    width: 45vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(95, 106, 255);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border-radius: 10px 10px 0 0;
    text-align: left;
    padding: 1rem;
    align-content: flex-start;
    background-color: #eeeeee;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.modal-header h2 {
    font-family: 'Montserrat';
    font-size: 1.4rem;
    color: #000b4b;
    text-align: start;
    padding-bottom: .5rem;
}

.modal-body {
    font-size: 1.2rem;
    padding: 1rem 1rem .3rem 1rem;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);

}

.elemento-formulario {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;
    gap: .25rem;
}


.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 0 0 10px 10px;
}


/* Animacion */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


/* Errores */
.valor-ingresado-erroneo {
    border-color: #d93025;
    box-shadow: 0 0 0 2px rgba(217, 48, 37, 0.2);
}

.mensaje-error {
    color: #fd1302;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    display: none;
    font-family: 'Montserrat';
    padding-left: .5rem;
}


/* Seccion Historial */
#tabla-historial-body {
    border: 1px solid rgba(0, 0, 0, 0.377);
}

.header-tabla-historial {
    border: 1px solid rgb(0, 0, 0);
}

.btn-eliminar-historial:hover {
    background-color: #fd1302;
    color: white;
}





/* Tabla de Historial */
.pacientes-tabla { 
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.header-tabla-historial {
    background-color: hsla(0, 0%, 0%, 0.781);
    color: rgb(236, 236, 236);
    font-weight: 400;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}